.base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    border-radius: var(--border-radius-full);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-semibold);
    white-space: nowrap;
}

.sm {
    padding: 2px 8px;
    font-size: var(--font-size-xs);
}

.md {
    padding: 4px 12px;
    font-size: var(--font-size-sm);
}

.lg {
    padding: 6px 16px;
    font-size: var(--font-size-base);
}

.active, .accepted {
    background-color: var(--color-success-light);
    color: var(--color-success);
}

.pending {
    background-color: var(--color-warning-light);
    color: var(--color-warning);
}

.completed {
    background-color: var(--color-info-light);
    color: var(--color-info);
}

.rejected {
    background-color: var(--color-error-light);
    color: var(--color-error);
}
