.base {
    /* Tipografía */
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    letter-spacing: var(--letter-spacing-tight);
}

.sm {
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
}

.md {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-relaxed);
}

.lg {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-loose);
}