.base {
    font-weight: bold;
    color: #111811;
    letter-spacing: -0.025em;
}

.sm {
    font-size: 1rem;
    line-height: 1.5rem;
}

.md {
    font-size: 1.375rem;
    line-height: 2rem;
}

.lg {
    font-size: 1.875rem;
    line-height: 2.25rem;
}